/* Light Theme */
body {
    background: #ffffff;
    color: #222;
    margin: 0;
    padding: 0;
    font-family: 'Tajawal', sans-serif;
}

h2, h3 {
    margin-top: 0;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    padding: 14px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #3880ff;
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
}

button:hover {
    opacity: 0.9;
}

.product-btn {
    background: #e9e9e9;
    border: 1px solid #ccc;
    transition: 0.2s;
}

.product-btn:hover {
    background: #d7d7d7;
}

#invoice-preview {
    background: #f5f5f5;
}

.invoice-item {
    padding: 10px;
    background: #fff;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.invoice-item span {
    display: inline-block;
    margin-left: 10px;
}
